@model IEnumerable<WAgI.Entities.Score>

@{
    var pageIndex = (int)TempData["pageIndex"];
    var lastPageNumber = (int)TempData["lastPageNumber"];
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="../../styles/general.css" />
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</environment>

<div class="container">
    <img src="../../images/logo.png">
    <h5>In a galaxy far far away ...a fuck.. was given..by Darth Vader</h5>
    
    <table class="table" style="background-color: black; color: white;">
        <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Nickname
            </th>
            <th>
                Score
            </th>
        </tr>
        </thead>
        <tbody>
        @{
            var i = (pageIndex - 1) * 10 + 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nickname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>

                ++i;
            }
        }
        </tbody>
    </table>

    @{
        var i1 = pageIndex - 1;
        var i2 = pageIndex;
        var i3 = pageIndex + 1;

        if (i1 != 1 && pageIndex != 1)
        {
            <a asp-action="Highscore" asp-route-id="1">1</a>
        }

        if (i2 > 3)
        {
            <text>...</text>
        }

        if (i1 > 0)
        {
            <a asp-action="Highscore" asp-route-id="@i1">@i1</a>
        }

        <a asp-action="Highscore" asp-route-id="@i2">@i2</a>

        if (pageIndex != lastPageNumber)
        {
            <a asp-action="Highscore" asp-route-id="@i3">@i3</a>
        }

        if (i3 < lastPageNumber - 1)
        {
            <text>...</text>
        }

        if (pageIndex != lastPageNumber && i3 != lastPageNumber)
        {
            <a asp-action="Highscore" asp-route-id="@lastPageNumber">@lastPageNumber</a>
        }
    }
    <div class="buttons">   
        <div class="button-container"> 
            <a asp-action="Index">
                <input class="button" type="button" value="Back">
            </a>    
        </div>     
    </div>        
</div>