@model IEnumerable<WAgI.Entities.Score>

@{
    var pageIndex = (int)TempData["pageIndex"];
    var lastPageNumber = (int)TempData["lastPageNumber"];
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="../../styles/general.css" />
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</environment>

<style>
    .tabel-container {
        width: 100%;
        align-content: center;
    }

    table {
        position: relative;
        left: 0px;
        height: 20rem;
        width: 40rem;
        font-family: 'Acme', sans-serif;
        font-size: 20px;
        max-width: 70rem;
        background-color: black;
        color: white;
        display: inline-block;
        border: 2px solid white;
    }


    th {
        padding-left: 5rem;
        padding-right: 4.7rem;
        background-color: rgb(230, 194, 0);
        color: black;
    }

    #cwebaca {
        position: relative;
        display: inline-block;
        left: auto;
        max-width: 15rem;
        height: 20rem;
    }

    .pagination a {
        font-family: 'Acme', sans-serif;
        font-size: 25px;
        color: white;
        text-decoration: none;
    }

        .pagination a:hover {
            color: rgb(230, 194, 0);
        }
</style>

<div class="tabel-container">
    <img src="../../images/logo.png">

    <h5>In a galaxy far far away ...4 developers tried to conquer the universe</h5>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Rank
                </th>
                <th>
                    Nickname
                </th>
                <th>
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = (pageIndex - 1) * 10 + 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nickname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                    </tr>

                    ++i;
                }
            }
        </tbody>
        <img id="cwebaca" src="/images/cwebaca.png" />
    </table>

    <div class="pagination">
        @{
            var i1 = pageIndex - 1;
            var i2 = pageIndex;
            var i3 = pageIndex + 1;

            if (i1 != 1 && pageIndex != 1)
            {
                <a href="1">1</a>
            }

            if (i2 > 3)
            {
                <text>...</text>
            }

            if (i1 > 0)
            {
                <a href="@i1">@i1</a>
            }

            <a href="@i2">@i2</a>

            if (pageIndex != lastPageNumber)
            {
                <a href="@i3">@i3</a>
            }

            if (i3 < lastPageNumber - 1)
            {
                <text>...</text>
            }

            if (pageIndex != lastPageNumber && i3 != lastPageNumber)
            {
                <a href="@lastPageNumber">@lastPageNumber</a>
            }
        }

    </div>
    <div class="buttons">
        <div class="button-container">
            <a asp-action="Index">
                <input class="button" type="button" value="Back">
            </a>
        </div>
    </div>
    @using (Html.BeginForm("SearchScoresByNickname", "Home", FormMethod.Get))
    {
        @Html.TextBox("nickname", null, new { required = "required" })
        <br />
        <button class="button" type="submit">Search</button>
    }
</div>