@model IEnumerable<WAgI.Entities.Score>

@{
    var pageIndex = (int)TempData["pageIndex"];
    var lastPageNumber = (int)TempData["lastPageNumber"];
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Nickname
            </th>
            <th>
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = (pageIndex - 1) * 10 + 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nickname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>

                ++i;
            }
        }
    </tbody>
</table>

@{
    var i1 = pageIndex - 1;
    var i2 = pageIndex;
    var i3 = pageIndex + 1;

    if (i1 != 1 && pageIndex != 1)
    {
        <a href="/Scores/Highscore/1">1</a>
    }

    if (i2 > 3)
    {
        <text>...</text>
    }

    if (i1 > 0)
    {
        <a href="/Scores/Highscore/@i1">@i1</a>
    }

    <a href="/Scores/Highscore/@i2">@i2</a>

    if (pageIndex != lastPageNumber)
    {
        <a href="/Scores/Highscore/@i3">@i3</a>
    }

    if (i3 < lastPageNumber - 1)
    {
        <text>...</text>
    }

    if (pageIndex != lastPageNumber && i3 != lastPageNumber)
    {
        <a href="/Scores/Highscore/@lastPageNumber">@lastPageNumber</a>
    }
}